.rocketContainer {
  display: flex;
  gap: 12px;
}

.rocketImg {
  width: 200px;
}

.col2 {
  display: flex;
  flex-direction: column;

  button {
    width: fit-content;
  }
}

.reserve__btn {
  padding: 8px 16px;
  color: #fff;
  background-color: #1f75fe;
  border-radius: 4px;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 8px;
}

.cancel__btn {
  padding: 8px 16px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 8px;
}

.reservedText {
  display: inline-block;
  font-style: italic;
  color: #fff;
  background-color: #090;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 4px;
  width: fit-content;
  font-weight: bold;
}

p {
  display: inline-block;
}
