* {
  box-sizing: border-box;
}

.success-message {
  color: greenyellow;
}

.mission-table {
  width: 100%;
  border-collapse: collapse;
}

.mission-table th,
.mission-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.mission-table td {
  width: 25%;
}

.mission-table td:nth-child(2) {
  width: 50%;
}

.mission-table th {
  text-align: center;
  background-color: #fff !important;
}

.mission-table td:first-child {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #eee;
}

.mission-table td:nth-child(3) {
  width: 10%;
}

.btn {
  padding: 8px 10px;
  background-color: inherit;
}

.failure__button {
  color: red;
  border-color: red;
}
